body {
    font-family: Arial, sans-serif;
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("https://images.unsplash.com/photo-1496307042754-b4aa456c4a2d");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz{
    background: rgba(255, 255, 255, 0.258);
    backdrop-filter: blur(10px);
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.option {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background:white;
    transition: background 0.3s;
}

.option:hover {
    background: #86e951;
}


#next-btn {
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    border:none;
}

#next-btn:hover{
    background:rgb(117, 211, 228);
}